.header{
    text-align: center;
}
.header img{
    width: 200px;
    margin: 20px;
   
}
.deatils{
    background-color: black;
    padding: 10px;
}
.deatils a{
    margin-left: 50px;
    text-decoration: none;
    color: white;
    
}